@import url("https://fonts.googleapis.com/css?family=Raleway%7CRighteous");
:root {

    --main-bg: hsl(201, 23%, 38%);

    --box-shadow: -2px -2px 12px hsla(205, 22%, 65%, 0.439),
    inset 6px 6px 12px hsla(200, 85%, 8%, 0.439),
    inset -2px -2px 12px hsla(205, 22%, 65%, 0.439),
    6px 6px 12px hsla(200, 85%, 8%, 0.439);
    
    --text-shadow: -1px -1px 2px hsla(205, 22%, 65%, 0.439),
    6px 6px 4px hsla(206, 23%, 18%, 0.439),
    -1px -1px 2px hsla(205, 22%, 65%, 0.439),
    6px 6px 4px hsla(206, 23%, 18%, 0.439);

    --text-shadow-rem: -.06rem -.06rem .09rem hsla(205, 22%, 65%, 0.439),
    .4rem .4rem .2rem  hsla(206, 23%, 18%, 0.439),
    -.06rem -.06rem .09rem hsla(205, 22%, 65%, 0.439),
    .4rem .4rem .2rem hsla(206, 23%, 18%, 0.439);

    --submit-text-shadow: -1px -1px 2px hsla(204, 15%, 54%, 0.439),
    2px 2px 2px hsla(206, 23%, 18%, 0.439),
    -1px -1px 2px hsla(204, 15%, 54%, 0.439),
    2px 2px 1px hsla(206, 23%, 18%, 0.439);

    --icon-text-shadow: -1px -1px 2px hsla(205, 22%, 65%, 0.439),
    2px 2px 3px hsla(203, 15%, 17%, 0.439),
    -1px -1px 2px hsla(205, 22%, 65%, 0.439),
    2px 2px 3px hsla(203, 15%, 17%, 0.439);

    --hover-shadow: -6px -6px 12px hsla(205, 22%, 65%, 0.439),
    inset 6px 6px 75px hsla(206, 23%, 18%, 0.439),
    inset -6px -6px 75px hsla(205, 22%, 65%, 0.439),
    6px 6px 12px hsla(206, 23%, 18%, 0.439);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--main-bg);
    color: hsla(206, 23%, 18%, 0.839);
}

.heading {
    color:hsl(201, 23%, 38%);
    font-size: 8rem;
    text-shadow: var(--text-shadow-rem);
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid hsl(201, 23%, 38%);
    box-shadow: var(--box-shadow);
}

.btn {
    justify-content: center;
    align-items: center;
    background-color: hsl(201, 23%, 38%);
    color: hsla(206, 23%, 18%, 0.739);
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    margin: .7rem;
    border: 2px solid hsl(201, 23%, 38%);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    height: 75px;
    width: 75px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    box-shadow: var(--hover-shadow);
}

.btn span {
    transition: all .5s ease-in-out;
}

.btn:hover span {
    text-shadow: var(--submit-text-shadow);
}

.operand:hover {
    text-shadow: var(--icon-text-shadow);
}

.submit-answer {
    position: relative;
}


.submit-text {
    display: none;
    width: 8em;
    position: absolute;
    left: .2em;
    top: .3em;
    transition: opacity .1s ease-in;
    opacity: 0;
    font-weight: 600;
    font-size: .8em;
}

.submit-answer:hover .submit-text{
    display: block;
}

.question-area, .score-area {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    padding: 1.5em 0;
}

.question-set-container {
    opacity: 0;
}

.question-set {
    margin: 0 .5rem;
}

.question-set .scores {
    margin: 35px;
    padding: 15px 35px;
    border: 2px solid hsl(201, 23%, 38%);
    box-shadow: var(--box-shadow);
    height: 100%;
    margin: .4em .4em;
}

.answer-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 2.2rem;
    transition: all .5s ease-in-out;
}

#operator {
    opacity: 0;
    transition: all .2s ease-in;
}

#answer-box {
    background-color: var(--main-bg);
    height: 100%;
    width: 8rem;
    text-align: center;
    border: 2px solid var(--main-bg);
    border-style: solid;
    transition: all .5s ease-in-out;
}

#answer-box:focus {
    outline: none;
}

.set-visible {
    border: 2px solid hsl(201, 23%, 38%);
    border-radius: .2em;
    box-shadow: var(--box-shadow);
    color:hsla(206, 23%, 18%, 0.839);
    font-size: 1.4rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* button click animation */
.btn-anim {
    background-color: var(--main-bg);
    outline: none;
    border: 2px solid var(--main-bg);
    animation: buttonClick .6s ease-in-out normal;
    animation-iteration-count: 1;
}

@keyframes buttonClick {
    0%, 30% {
        box-shadow: var(--hover-shadow); 
    } 30%, 70% {
        box-shadow: 0px 0px 0px 0px var(--main-bg);
    } 70%, 100% {
        box-shadow: var(--hover-shadow);
    }
}